<!DOCTYPE html>
<html>
<head>
  <title>PetitionsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "header" %>

<div class="row">
  <div class="col-xs-offset-2 col-xs-4">

    <%= bootstrap_flash %>

<% if @petition %>
    <% if @petition.errors.any? %>
        <div class="alert alert-danger"> Произошла ошибка в петиции </div>
    <% end %>
<% end %>

  </div>
</div>

<%= yield %>
<%= render partial: "general_menu" %>
<%= render partial: "footer" %>

</body>
</html>
