<div class="col-md-2"></div>
<div class="col-md-6">

  <%= form_for :petition, url: petitions_path do |f| %>

      <div class="form-group">
        <div><%= f.label :Название %></div>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <div><%= f.label :Описание %></div>
        <%= f.text_area :text %>
      </div>

      <%= f.submit 'Сохранить', :name => 'submit', class: "btn btn-success" %>
      </div>
  <% end %>