<div class="col-md-2"></div>
<div class="col-md-6">
  <h1>Новая петиция</h1>

  <%= form_for :petition, url: petitions_path do |f| %>

      <% if @petition.errors.any? %>
              <div class="alert alert-danger"> Невозможно создать петицию неавторизованному пользователю </div>
      <% end %>

      <div class="form-group">
        <div><%= f.label :Название %></div>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <div><%= f.label :Описание %></div>
        <%= f.text_area :text %>
      </div>

      <%= f.submit 'Создать', :name => 'submit', class: "btn btn-success" %>
      </div>
  <% end %>

