<div class="col-md-2"></div>
<div class="col-md-6">
  <h1>Новая петиция</h1>

    <% flash.each do |name, msg| %>
        <div class="label label-danger"><%= msg %></div>
    <% end %>

  <%= form_for :petition, url: petitions_path do |f| %>

      <% if @petition.errors.any? %>
          <% @petition.errors.full_messages.each do |message| %>
              <div class="label label-danger"><%= message %></div>
          <% end %>
      <% end %>

      <div class="form-group">
        <div><%= f.label :Название %></div>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <div><%= f.label :Описание %></div>
        <%= f.text_area :text %>
      </div>

      <%= f.submit 'Создать', :name => 'submit', class: "btn btn-success" %>
      </div>
  <% end %>

