<div class="col-md-1"></div>
<div class="col-md-7">
  <h1>Петиция</h1>

  <%= @petition.title %>
  <div><span style="color:grey"><%= @petition.created_at.strftime("%d/%m/%Y %H:%M") %></span></div>
  <%= @petition.text %>

    <div><span>Голосов: </span><%= @petition.votes.count %></div>
    <div>
      <% if @petition.voted_by?(current_user) %>
            Вы уже проголосовали за данную петицию
          <% elsif @petition.user == current_user || @petition.expired? %>

          <% else %>
            <%= button_to('Поддержать', votes_path({ petition_id: @petition.id }), class: "btn btn-primary" ) %>
          <% end %>
    </div>
  </div>

