<div class="col-md-4"></div>
<div class="col-md-4">

<%= form_for :user, url: users_path  do |f| %>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
              <div class="label label-danger"><%= message %></div>
        <% end %>
    <% end %>

      <h1>Регистрация</h1>

      <div class="form-group">
      <div><%=  f.label :email, 'Email' %></div>
      <%=  f.text_field :email %>
    </div>

      <div class="form-group">
      <div><%=  f.label :first_name, 'Имя' %></div>

        <%=  f.text_field :first_name%>

    </div>

      <div class="form-group">
      <div><%=  f.label :last_name, 'Фамилия' %></div>
      <%=  f.text_field :last_name %>
    </div>

      <div class="form-group">
      <div><%= f.label :password, 'Пароль'   %></div>
      <%= f.password_field :password %>
    </div>

      <div class="form-group">
      <div><%=  f.label :password_confirmation, 'Подтверждение пароля' %></div>
      <%=  f.password_field :password_confirmation %>
    </div>

    <%= f.submit 'Зарегистрироваться', name: 'submit', class: "btn btn-primary" %>
      </div>
<% end %>